<div class="d-flex w-100 justify-content-between" [class.selected]="drink.selected">

    <h5 class="mb-1">{{ drink.strDrink }}</h5>
    <label [for]="drink.strDrink">
        <div *ngIf="selected"><img (click)="onSelect(false)" style="cursor: pointer" src="../../../assets/check-png.png"
                alt=""></div>
        <div *ngIf="!selected"><img (click)="onSelect(true)" style="cursor: pointer"
                [src]="drink.strDrinkThumb + '/preview' " alt="">
        </div>
    </label>
</div>