<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="col-4 p-4">
                <form class="d-flex">
                    <input class="form-control-sm me-2" type="search" placeholder="Search by name" aria-label="Search"
                        [(ngModel)]="searchfield" name="search">
                    <button class="btn btn-outline-success" type="submit" (click)="searchByName()">Search</button>
                </form>
            </div>

            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div *ngFor="let drink of drinks">
                            <div class="list-group">
                                <app-list-drink (onSelectChange)="onCardSelectChange(drink, $event)" [drink]="drink"
                                    [selected]="drink.selected">


                                </app-list-drink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="p-4">
                <div *ngIf="showErrors.empty">
                    <p>Carrello vuoto</p>
                </div>
                <div *ngIf="showErrors.minTwo">
                    <p>Minimo due prodotti</p>
                </div>
                <div *ngIf="showErrors.maxFive">
                    <p>Massimo cinque prodotti</p>
                </div>
                <div *ngFor="let element of selectedDrinks">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ element.strDrink }}</h5>
                        <img [src]="element.strDrinkThumb + '/preview' " alt="" style="height: 100px;
                        border-radius: 50%;">

                    </div>
                    <button class="btn btn-outline-success" (click)="deleteElement(element)">delete</button>
                </div>
            </div>

        </div>

    </div>