<div class="container">
    <div class="col-12 p-4">
        <hr>

    </div>
    <div *ngIf="randomDrink" >
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
                <div class="card shadow-sm m-auto text-bg-primary">
                    <img [src]="randomDrink.strDrinkThumb" class="card-img-top" style="height: 86px;
                    object-fit: none;
                    object-position: center;" alt="{{ randomDrink.strDrink }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ randomDrink.strDrink }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="pt-3 d-flex flex-column justify-content-center align-items-center"> 
       <nav >
    <ul class="pagination m-0">
        <li *ngFor="let letter of alphabet" class="page-item" [class.active]="letter === firstLetter?true:false">
            <a role="button" class="page-link" [routerLink]="'/home/'+ letter">{{
                letter }}</a>
        </li>
    </ul>
</nav>
<nav >
    <ul class="pagination m-0">
        <li *ngFor="let letter of alphabet2" class="page-item" [class.active]="letter === firstLetter?true:false">
            <a role="button" class="page-link" [routerLink]="'/home/'+ letter">{{
                letter }}</a>
        </li>
    </ul>
</nav>
<nav >
    <ul class="pagination m-0">
        <li *ngFor="let letter of alphabet3" class="page-item" [class.active]="letter === firstLetter?true:false">
            <a role="button" class="page-link" [routerLink]="'/home/'+ letter">{{
                letter }}</a>
        </li>
    </ul>
</nav></div>
    <div *ngIf="drinks">
        <h2>There are {{ this.drinks.length}} items</h2>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngIf="!drinks">
                    <h3>NO ITEM WITH THIS LETTER</h3>
                </div>
                <div *ngFor="let drink of drinks">
                    <app-card-drink [drink]="drink"></app-card-drink>
                </div>
            </div>
        </div>