/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

//custom

body {
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    min-height: 100vh;
}


app-card-drink .card {
    background-color: rgba(236, 210, 198, 0.514);
}

app-card-drink .btn-primary {
    background-color: rgba(236, 22, 22, 0.514);
}

.btn-primary {
    --bs-btn-hover-bg: #9198e5;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    border: #e66465
}

app-list-drink .selected {
    background-color: yellow;
}

app-list-drink img {
    height: 100px;
    border-radius: 50%;
}