<div class="card-group">
    <div class="card m-auto p-4" style="width: 18rem;">
        <img class="card-img-top m-auto" style="width: 50%;" [src]="drinkData.strDrinkThumb"
            alt="{{drinkData.strDrink}}">
        <div class="card-body">
            <h4 class="card-title">{{ drinkData.strDrink }}</h4>
            <p>Istruction:</p>
            <p>{{ drinkData.instructions[currentLang] }}</p>

            <h5 class="card-title">Ingredients</h5>
            <ul>
                <li *ngFor="let ingredient of drinkData.ingredients">
                    <a [routerLink]="'/ingredient/'+ ingredient.name">{{ ingredient.name }}</a>: {{
                    ingredient.measure }}

                </li>
            </ul>
            <h4>Language</h4>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="p-1" *ngFor="let item of drinkData.instructions | keyvalue">
                        <button (click)="onchangeLang(item.key)" class="btn btn-primary">{{item.key}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 m-auto p-4">
            <button routerLink="/home" class="btn btn-primary">HOME</button>
        </div>
    </div>



</div>